<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Github</title>
  <link rel="stylesheet" href="../static/css/styles.css">
  <script type="text/javascript">
    const submit = () => {

    }
  </script>
</head>
<body>
  <div class="hero">
    <div class="hero-text">
      <h1>Find projects to work on!</h1>
      <p>Search projects looking for developers with your skills</p>
      <form class="button" action="{{ url_for('button') }}" method="get">
        <img src="../static/assets/GitHub-Mark-32px.png" style="float: left">
        <input type="submit" class="none" value="Sign in with GitHub">
      </form>
    </div>
    <div class="hero-markup">
    </div>
  </div>
  <div class="About">
    <h2>Ever wanted to make a project, but didn't know what to work on?</h2>
    <p>We've all been there, sometimes you want to contribute to an open source project, but its hard to find one that fits your skills. Our website parses your github profile, and looks for projects that has your name written all over it!</p>
  </div>
</body>
</html>
