<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Github</title>
  <link rel="stylesheet" href="../static/css/styles.css">
  <script type="text/javascript">
    const submit = () => {

    }
  </script>
</head>
<body>
  <div class="hero">
    <div class="hero-text">
      <h1>Find projects to work on!</h1>
      <p>Search projects looking for developers with your skills</p>
      <form class="button" action="{{ url_for('button') }}" method="get">
        <img src="../static/assets/GitHub-Mark-32px.png" style="float: left">
        <input type="submit" class="none" value="Sign in with GitHub">
      </form>
    </div>
    <div class="hero-markup">
      <img src="" alt="">
    </div>
  </div>
  <div class="About">

  </div>
</body>
</html>
